
#.NET
**/bin/
**/obj/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

#Logs
*.log

#SQLite
*.db
*.db-shm
*.db-wal

#Docker
docker-data/
